STRIPE_SECRET_KEY=rk_test_replace_with_a_restricted_key
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=re_replace_me
RESEND_FROM_EMAIL=Sandabado <hello@sandabado.com>
CONVERTKIT_FORM_URL=https://api.convertkit.com/v3/forms/FORM_ID/subscribe
# Or use FORMSPREE_FORM_URL=https://formspree.io/f/FORM_ID
